## Część 2

In [1]:
import os
import pandas as pd
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="secret.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()
query = ('select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)
query_result = query_job.result()
df1 = query_result.to_dataframe()
df1

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,ES_CT,2022-02-14,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
1,ES_CT,2020-05-12,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
2,ES_CT,2022-07-13,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
3,ES_CT,2022-05-07,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
4,ES_CT,2021-05-31,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
5,ES_CT,2020-12-04,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
6,ES_CT,2020-10-15,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
7,ES_CT,2020-03-27,ChIJ8_UwhdxbpBIRUMijIeD6AAE,Q5705,nuts/ES51,ES,Spain,ES,ESP,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(1.537778 41.8375)
8,US_AL,2020-07-28,ChIJdf5LHzR_hogR6czIUzU0VV4,Q173,geoId/01,US,United States of America,US,USA,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-86.7 32.7)
9,US_AL,2020-11-23,ChIJdf5LHzR_hogR6czIUzU0VV4,Q173,geoId/01,US,United States of America,US,USA,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-86.7 32.7)

## Część 3

3.1. Sprawdź, ile jest zapisanych wierszy z danymi.

In [2]:
query = ("""
select count(*) as liczba_wierszy from bigquery-public-data.covid19_open_data.covid19_open_data;
""")

query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

   liczba_wierszy
0        22756333

 3.2. Sprawdź, ile krajów jest uwzględnionych w danych.

In [3]:
query = ("""
select count(*) as liczba_krajow FROM (SELECT DISTINCT country_name FROM bigquery-public-data.covid19_open_data.covid19_open_data);
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

   liczba_krajow
0            246

 3.3. Sprawdź, w jaki sposób zapisywane są dzienne informacje dla krajów.

Dzienne informacje dla krajów raportowane są z podziałem na części opisywane przez aggregation_level.
Dane odnośnie osób hospitalizowanych, zaszczepionych, zmarłych i testowanych raportowane są oddzielnie dla poszczególnych przedziałów wiekowych oraz z podziałem na płeć. 
Dane zawierają również podstawowe informacje o poszczególnych krajach, takie jak populacja, powierzchnia, wilgotność czy przewidywana długość życia.

 3.4. Sprawdź, w jaki sposób zapisywane są wartości liczbowe.

In [4]:
print(df1['population'].dtype)
print(df1['nurses_per_1000'].dtype)
print(df1['new_tested'].dtype)

Int64
float64
object

 3.5. Sprawdź, jaki przedział czasowy jest uwzględniony w danych. Dodatkowo porównaj przedziały czasowe dla przypadków nowych zachorowań, nowych śmierci oraz nowych zaszczepionych osób w danych.

In [5]:
query = ("""
select min(date) as poczatek_przedzialu, max(date) as koniec_przedzialu FROM bigquery-public-data.covid19_open_data.covid19_open_data;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

  poczatek_przedzialu koniec_przedzialu
0          2020-01-01        2022-09-17

In [6]:
query = ("""
select min(date) as poczatek_przedzialu_zachorowan, max(date) as koniec_przedzialu_zachorowan FROM bigquery-public-data.covid19_open_data.covid19_open_data where new_confirmed is not null and new_confirmed <> 0;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

  poczatek_przedzialu_zachorowan koniec_przedzialu_zachorowan
0                     2020-01-01                   2022-09-15

In [7]:
query = ("""
select min(date) as poczatek_przedzialu_smierci, max(date) as koniec_przedzialu_smierci FROM bigquery-public-data.covid19_open_data.covid19_open_data where new_deceased is not null and new_deceased <> 0;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

  poczatek_przedzialu_smierci koniec_przedzialu_smierci
0                  2020-01-02                2022-09-15

In [8]:
query = ("""
select min(date) as poczatek_przedzialu_zaszczepionych, max(date) as koniec_przedzialu_zaszczepionych FROM bigquery-public-data.covid19_open_data.covid19_open_data where new_persons_vaccinated is not null and new_persons_vaccinated <> 0;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

  poczatek_przedzialu_zaszczepionych koniec_przedzialu_zaszczepionych
0                         2020-12-07                       2022-09-14

 3.6. Sprawdź więcej informacji (co najmniej 5 różnych) o danych dotyczących COVID-19. W tym celu nie wykonuj żadnych dodatkowych obliczeń.

In [9]:
# Sprawdzenie czy wystepuja wartosci ujemne
query = ("""
select COUNT(*) FROM bigquery-public-data.covid19_open_data.covid19_open_data where new_confirmed < 0;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

      f0_
0  102199

In [10]:
#Sprawdzenie czy wystepuja duplikaty
query = ("""
select COUNT(*), location_key, date FROM bigquery-public-data.covid19_open_data.covid19_open_data group by location_key, date having count(*) > 1;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

Empty DataFrame
Columns: [f0_, location_key, date]
Index: []

In [11]:
# Sprawdzenie czy kluczowe kolumny zawieraja nulle
query = ("""
select COUNT(*) FROM bigquery-public-data.covid19_open_data.covid19_open_data where date is null or country_name is null or location_key is null or iso_3166_1_alpha_3 is null;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

   f0_
0  991

In [12]:
# Sprawdzenie z jakich krajow posiadamy najwiecej danych
query = ("""
select country_name, count(*) as count from bigquery-public-data.covid19_open_data.covid19_open_data group by country_name order by count desc limit 10;
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

               country_name    count
0                    Brazil  5565456
1  United States of America  3255435
2                    Mexico  2475518
3                      Peru  1883891
4                    Israel  1472626
5                     Spain  1385418
6                  Colombia  1145596
7                     India   747214
8                 Indonesia   544059
9                 Argentina   540095

In [13]:
# sprawdzenie czy w kolumnach cumulative wystepuja wartosci mniejsze niz w kolumnach new
query = ("""
select distinct location_key, country_name from bigquery-public-data.covid19_open_data.covid19_open_data where (new_confirmed > cumulative_confirmed or new_deceased > cumulative_deceased or cast(new_tested as int) > cumulative_tested or new_persons_vaccinated > cumulative_persons_vaccinated or new_persons_fully_vaccinated > cumulative_persons_fully_vaccinated or new_vaccine_doses_administered > cumulative_vaccine_doses_administered);
""")
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe()
df

   location_key              country_name
0         PL_10                    Poland
1         PL_28                    Poland
2         PL_02                    Poland
3         PL_24                    Poland
4            LI             Liechtenstein
5         CH_GE               Switzerland
6         PL_04                    Poland
7         PL_18                    Poland
8         US_OK  United States of America
9            AT                   Austria
10           CL                     Chile
11        CH_TG               Switzerland
12           CH               Switzerland
13        PL_30                    Poland
14           MY                  Malaysia
15        PL_12                    Poland
16        PL_08                    Poland
17        PL_20                    Poland
18        CH_SZ               Switzerland
19   ZA_NW_DC38              South Africa
20        PL_14                    Poland
21        PL_16                    Poland
22        PL_26                    Poland
23        PL_22                    Poland
24        PL_06                    Poland
25        PL_32                    Poland
26   ZA_EC_DC44              South Africa

## Część 4

4.1. Chcemy posiadać podstawowe dane o wszystkich krajach świata, które będą zrozumiałe dla człowieka oraz uniwersalne i potencjalnie przyszłościowe do dalszego przetwarzania.

In [14]:
query = ("""
SELECT distinct
    location_key,
    subregion1_code,
    subregion1_name,
    country_code,
    country_name, 
    iso_3166_1_alpha_2,
    iso_3166_1_alpha_3, 
    population, 
    population_male, 
    population_female, 
    population_density, 
    human_development_index, 
    gdp_usd, 
    gdp_per_capita_usd, 
    latitude, 
    longitude, 
    area_sq_km, 
    health_expenditure_usd, 
    out_of_pocket_health_expenditure_usd 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    location_key IS NOT NULL AND
    country_code IS NOT NULL AND 
    country_name IS NOT NULL AND 
    iso_3166_1_alpha_2 IS NOT NULL AND 
    iso_3166_1_alpha_3 IS NOT NULL AND 
    population IS NOT NULL AND 
    population_male IS NOT NULL AND 
    population_female IS NOT NULL AND 
    population_density IS NOT NULL AND 
    human_development_index IS NOT NULL AND 
    gdp_usd IS NOT NULL AND 
    gdp_per_capita_usd IS NOT NULL AND 
    latitude IS NOT NULL AND 
    longitude IS NOT NULL AND 
    area_sq_km IS NOT NULL AND 
    health_expenditure_usd IS NOT NULL AND 
    out_of_pocket_health_expenditure_usd IS NOT NULL
    AND aggregation_level = 0;
""")
query_job = client.query(query)
query_result = query_job.result()
df1 = query_result.to_dataframe()
df1.to_csv("countries_data.csv", index=False)
df1

,location_key,subregion1_code,subregion1_name,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,population,population_male,population_female,population_density,human_development_index,gdp_usd,gdp_per_capita_usd,latitude,longitude,area_sq_km,health_expenditure_usd,out_of_pocket_health_expenditure_usd
0,AZ,None,None,AZ,Azerbaijan,AZ,AZE,10139175,5064664,5074511,122.664,0.751,48047647058,4793,40.300000,47.700000,86600,275.809357,231.283081
1,BW,None,None,BW,Botswana,BW,BWA,2351625,1139099,1212526,4.149,0.717,18340510789,7961,-22.200000,23.700000,581730,465.929321,13.946393
2,CD,None,None,CD,Democratic Republic of the Congo,CD,COD,89561404,44710172,44851232,39.506,0.457,47319624204,545,-2.880000,23.656000,2344860,19.431646,7.796894
3,CV,None,None,CV,Cape Verde,CV,CPV,555988,279117,276871,137.962,0.654,1981845740,3603,15.916667,-24.083333,4030,167.589615,48.427498
4,EC,None,None,EC,Ecuador,EC,ECU,17643060,8823827,8819233,71.038,0.746,107435665000,6183,-1.000000,-78.000000,256370,518.029602,204.095932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,MZ,None,None,MZ,Mozambique,MZ,MOZ,31255435,15188235,16067200,39.746,0.437,14934159925,491,-19.000000,35.000000,786380,21.071156,1.558282
171,PH,None,None,PH,Philippines,PH,PHL,100979303,51069962,49909341,367.512,0.699,376795508679,3485,12.000000,123.000000,300000,132.900986,70.498360
172,SK,None,None,SK,Slovakia,SK,SVK,5450421,2661077,2789344,111.800,0.844,105870732800,19470,49.000000,20.000000,49030,1186.136353,221.963882
173,VN,None,None,VN,Vietnam,VN,VNM,97338583,48598254,48740329,313.925,0.694,261921244843,2715,16.000000,108.000000,331230,129.575958,58.643410
174,ZM,None,None,ZM,Zambia,ZM,ZMB,18383956,9103006,9280950,24.730,0.588,23064722446,1291,-14.000000,28.000000,752610,67.648666,8.015779

 4.2. Chcemy wygenerować statystyki dotyczące zachorowań na COVID-19 na całym świecie.

In [15]:
query = ("""select distinct location_key, subregion1_code, subregion1_name,date, country_name, new_confirmed, cumulative_confirmed, cast(new_tested as int) as new_tested,  cumulative_tested from bigquery-public-data.covid19_open_data.covid19_open_data WHERE
    location_key IS NOT NULL AND
  date IS NOT NULL
  AND country_name IS NOT NULL
  AND new_confirmed IS NOT NULL
  AND cumulative_confirmed IS NOT NULL
  AND new_tested IS NOT NULL
  AND cumulative_tested IS NOT NULL
  AND new_confirmed <= cumulative_confirmed
  and cast(new_tested as int) <= cumulative_tested
  AND new_confirmed >= 0
  AND cast(new_tested as int) >= 0
  AND cumulative_confirmed >= 0
  AND cumulative_tested >= 0
  """)
query_job = client.query(query)
query_result = query_job.result()
df2 = query_result.to_dataframe()
df2.to_csv("covid_cases_stats.csv", index=False)
df2

,location_key,subregion1_code,subregion1_name,date,country_name,new_confirmed,cumulative_confirmed,new_tested,cumulative_tested
0,AR_E,E,Entre Ríos,2020-10-24,Argentina,288,14462,466,30999
1,AR_U,U,Chubut,2021-06-03,Argentina,352,65456,647,127262
2,EE_81,81,Valga,2022-05-23,Estonia,0,10185,11,53181
3,EE_84,84,Viljandi,2022-08-02,Estonia,9,17021,19,94786
4,IN_AS,AS,Assam,2021-01-02,India,38,216289,24375,6038661
...,...,...,...,...,...,...,...,...,...
2961099,IN_WB_MPE,WB,West Bengal,2022-01-12,India,241,65066,0,0
2961100,IN_WB_MPW,WB,West Bengal,2021-06-20,India,128,47134,0,0
2961101,IN_WB_APD,WB,West Bengal,2021-05-06,India,48,8811,0,0
2961102,IN_WB_DPU,WB,West Bengal,2021-11-07,India,14,19941,0,0
2961103,IN_WB_HOO,WB,West Bengal,2020-08-12,India,113,4923,0,0

 4.3. Chcemy poznać efekty COVID-19 poprzez uwypuklenie problemu śmiertelności ludzi spowodowanej wirusem.

In [16]:
query = ("""
SELECT 
    location_key,
    subregion1_code,
    subregion1_name,
    date,  
    country_name,  
    new_deceased, 
    cumulative_deceased 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    date IS NOT NULL AND  
    location_key IS NOT NULL AND
    country_name IS NOT NULL AND 
    new_deceased IS NOT NULL AND 
    cumulative_deceased IS NOT NULL AND
    new_deceased <= cumulative_deceased AND
    new_deceased >= 0
    AND cumulative_deceased >= 0
    ;

""")
query_job = client.query(query)
query_result = query_job.result()
df3 = query_result.to_dataframe()
df3.to_csv("covid_mortality.csv", index=False)
df3

,location_key,subregion1_code,subregion1_name,date,country_name,new_deceased,cumulative_deceased
0,BR_RO_110080,RO,Rondônia,2020-07-28,Brazil,0,17
1,MX_TLA_29054,TLA,Tlaxcala,2022-08-11,Mexico,0,1
2,DE_BW_08315,BW,Baden-Württemberg,2020-07-17,Germany,0,78
3,DE_NI_03360,NI,Lower Saxony,2020-07-26,Germany,0,0
4,DE_NI_03461,NI,Lower Saxony,2021-09-17,Germany,0,118
...,...,...,...,...,...,...,...
11440092,US_WI_55103,WI,Wisconsin,2020-10-02,United States of America,0,4
11440093,US_WI,WI,Wisconsin,2022-05-02,United States of America,2,14415
11440094,US_WI_55089,WI,Wisconsin,2021-06-09,United States of America,0,102
11440095,US_WI_55125,WI,Wisconsin,2022-03-27,United States of America,0,88
11440096,US_WI_55021,WI,Wisconsin,2022-03-07,United States of America,1,124

 4.4. Chcemy zaobserwować trendy i zależności dotyczące szczepień na COVID-19.

In [17]:

import numpy as np

query = ("""
SELECT 
    location_key,
    subregion1_code,
    subregion1_name,
    date,  
    country_name, 
    new_persons_vaccinated, 
    cumulative_persons_vaccinated, 
    new_persons_fully_vaccinated, 
    cumulative_persons_fully_vaccinated, 
    new_vaccine_doses_administered, 
    cumulative_vaccine_doses_administered 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    location_key IS NOT NULL AND
    date IS NOT NULL AND  
    country_name IS NOT NULL AND
    new_persons_vaccinated >= 0 AND
    cumulative_persons_vaccinated >= 0 AND
    new_persons_fully_vaccinated >= 0 AND
    cumulative_persons_fully_vaccinated >= 0 AND
    new_vaccine_doses_administered >= 0 AND
    cumulative_vaccine_doses_administered >= 0
    ;

""")
query_job = client.query(query)
query_result = query_job.result()
df4 = query_result.to_dataframe()
df4.replace(np.nan, 0, inplace=True)
df4.to_csv("covid_vaccination.csv", index=False)
df4

,location_key,subregion1_code,subregion1_name,date,country_name,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
0,ES_CT,CT,Cataluña,2021-05-31,Spain,11128,2817361,32046,1423308,43174,4240669
1,US_AZ,AZ,Arizona,2021-02-27,United States of America,27056,1195110,28614,490688,56945,1728239
2,US_CA,CA,California,2022-01-12,United States of America,47349,33309079,27401,26491139,177040,67991446
3,US_CA,CA,California,2021-11-16,United States of America,31417,30361433,10027,24639061,80192,57134769
4,US_CA,CA,California,2021-07-15,United States of America,57447,24865725,47730,20309600,101382,43868821
...,...,...,...,...,...,...,...,...,...,...,...
877016,PL_10_62,10,Łódź,2021-12-03,Poland,49,47803,7,40795,422,96111
877017,PL_10_62,10,Łódź,2021-12-20,Poland,0,48804,0,41384,0,104053
877018,PL_10_62,10,Łódź,2021-08-05,Poland,121,39848,246,35269,367,75117
877019,PL_10_63,10,Łódź,2021-07-15,Poland,46,34457,295,30532,341,64989
877020,PL_10_63,10,Łódź,2021-10-27,Poland,11,41329,11,35407,22,76736

 4.5. Zdefiniuj własny dodatkowy przypadek. Chcemy dowiedzieć się ile jest pielęgniarek i lekarzy w poszczególnych krajach.

In [18]:
query = ("""
SELECT distinct
    location_key,
    subregion1_code,
    subregion1_name,
    country_name, 
    nurses_per_1000,
    physicians_per_1000
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    location_key IS NOT NULL AND
    country_name IS NOT NULL AND 
    nurses_per_1000 >= 0 AND
    physicians_per_1000 >= 0
    ;
""")
query_job = client.query(query)
query_result = query_job.result()
df5 = query_result.to_dataframe()
df5.to_csv("covid_vaccination.csv", index=False)
df5

,location_key,subregion1_code,subregion1_name,country_name,nurses_per_1000,physicians_per_1000
0,ES,None,None,Spain,5.7295,3.8723
1,FI,None,None,Finland,14.7374,3.8118
2,IN,None,None,India,1.7271,0.8571
3,AD,None,None,Andorra,4.0128,3.3333
4,CD,None,None,Democratic Republic of the Congo,1.1101,0.0740
...,...,...,...,...,...,...
159,SV,None,None,El Salvador,1.8344,1.5662
160,UG,None,None,Uganda,1.2382,0.1680
161,UY,None,None,Uruguay,1.9412,5.0794
162,VN,None,None,Vietnam,1.4463,0.8281
163,ZW,None,None,Zimbabwe,1.9346,0.2096

## Część 5
Połącz ze sobą wszystkie dane otrzymane w części 4. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

## Część 6
Połącz ze sobą dane otrzymane w części 5 oraz dane znajdujące się w plikach

In [19]:
# df1 + gdp + world_countries + df5
# df2 + df3 + df4
merged_df = df2.merge(df3, on=["location_key", "date"], how="inner")
merged_df = merged_df.merge(df4, on=["location_key", "date"], how="inner")
merged_df.to_csv("covid_combined_data.csv", index=False)
merged_df

,location_key,subregion1_code_x,subregion1_name_x,date,country_name_x,new_confirmed,cumulative_confirmed,new_tested,cumulative_tested,subregion1_code_y,...,cumulative_deceased,subregion1_code,subregion1_name,country_name,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
0,AR_U,U,Chubut,2021-06-03,Argentina,352,65456,647,127262,U,...,1147,U,Chubut,Argentina,1157,54564,413,18606,1570,73170
1,IN_AS,AS,Assam,2021-06-25,India,2793,496481,139105,14339556,AS,...,4370,AS,Assam,India,158705,5536768,17540,1152586,176245,6689354
2,MY_02,02,Kedah,2022-01-24,Malaysia,395,174374,8098,1321133,02,...,2174,02,Kedah,Malaysia,74,1596945,257,1577276,8236,3714419
3,US_DE,DE,Delaware,2021-11-04,United States of America,276,145284,1121,433596,DE,...,1970,DE,Delaware,United States of America,282,676753,119,585615,190,1323940
4,FR_PAC,PAC,Provence-Alpes-Côte d'Azur,2021-11-05,France,865,757955,37314,16882909,PAC,...,8965,PAC,Provence-Alpes-Côte d'Azur,France,2486,3635163,3321,3526206,5807,7161369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350782,IN_WB,WB,West Bengal,2021-03-05,India,255,576176,20851,8658929,WB,...,10275,WB,West Bengal,India,88226,1253831,22281,233229,110507,1487060
350783,IN_WB,WB,West Bengal,2021-08-27,India,703,1546237,43448,16858265,WB,...,18410,WB,West Bengal,India,350670,27755795,214649,10876093,565319,38631888
350784,IN_WB,WB,West Bengal,2021-06-18,India,2788,1477037,55367,13578748,WB,...,17240,WB,West Bengal,India,166235,14422580,41120,4188380,207355,18610960
350785,IN_WB,WB,West Bengal,2021-06-03,India,8811,1403535,74568,12645747,WB,...,15921,WB,West Bengal,India,233060,11511500,12512,3915428,245572,15426928
350786,IN_WB,WB,West Bengal,2021-07-01,India,1501,1501284,54741,14272933,WB,...,17735,WB,West Bengal,India,66911,16900326,52872,5109791,119783,22010117

In [20]:
world_countries = pd.read_csv("world_countries.csv")
world_countries = world_countries.rename(columns={"CCA3": "iso_3166_1_alpha_3", "Country/Territories": "country_name", "Area (km²)": "area_sq_km", "Density (per km²)": "population_density"})

gdp = pd.read_csv("GDP.csv")
gdp = gdp.rename(columns={"Country Code": "iso_3166_1_alpha_3", "Country Name": "country_name", "Value": "gdp_usd", "Year":"year"})
df1["year"] = pd.to_datetime(merged_df["date"]).dt.year
merged_df2 = df1.merge(world_countries, on="iso_3166_1_alpha_3", how="inner")
merged_df2 = merged_df2.merge(df5, on=['country_name'])
pivot_gdp = gdp.pivot(index='country_name', columns='year', values='gdp_usd')
pivot_gdp.columns = ['gdp_' + str(column) for column in pivot_gdp.columns]
merged_df2 = merged_df2.merge(pivot_gdp, on="country_name", how="inner")
merged_df2.to_csv("countries_combined_data.csv", index=False)
merged_df2

,location_key_x,subregion1_code_x,subregion1_name_x,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,population,population_male,population_female,...,gdp_2007,gdp_2008,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016
0,BW,None,None,BW,Botswana,BW,BWA,2351625,1139099,1212526,...,1.093905e+10,1.094507e+10,1.026713e+10,1.278665e+10,1.568293e+10,1.468628e+10,1.491578e+10,1.625945e+10,1.443057e+10,1.558114e+10
1,EC,None,None,EC,Ecuador,EC,ECU,17643060,8823827,8819233,...,5.100778e+10,6.176264e+10,6.251969e+10,6.955537e+10,7.927666e+10,8.792454e+10,9.512966e+10,1.017263e+11,9.929038e+10,9.861397e+10
2,GQ,None,None,GQ,Equatorial Guinea,GQ,GNQ,1402985,780380,622605,...,1.307172e+10,1.974989e+10,1.502780e+10,1.629854e+10,2.132940e+10,2.238963e+10,2.194260e+10,2.173650e+10,1.259721e+10,1.068480e+10
3,GY,None,None,GY,Guyana,GY,GUY,786559,395549,391010,...,1.740335e+09,1.922598e+09,2.061324e+09,2.273225e+09,2.576024e+09,2.861562e+09,2.987684e+09,3.077643e+09,3.197225e+09,3.502397e+09
4,IT,None,None,IT,Italy,IT,ITA,60359546,29384766,30974780,...,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832347e+12,1.858913e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,MX,None,None,MX,Mexico,MX,MEX,110991953,54855231,57481307,...,1.043471e+12,1.101275e+12,8.949487e+11,1.051129e+12,1.171188e+12,1.186598e+12,1.261982e+12,1.298461e+12,1.152264e+12,1.046923e+12
133,MZ,None,None,MZ,Mozambique,MZ,MOZ,31255435,15188235,16067200,...,9.366742e+09,1.149484e+10,1.091170e+10,1.015424e+10,1.313117e+10,1.453428e+10,1.601885e+10,1.696113e+10,1.479844e+10,1.101486e+10
134,PH,None,None,PH,Philippines,PH,PHL,100979303,51069962,49909341,...,1.493599e+11,1.741951e+11,1.683346e+11,1.995908e+11,2.241431e+11,2.500921e+11,2.718361e+11,2.845845e+11,2.927741e+11,3.049054e+11
135,VN,None,None,VN,Vietnam,VN,VNM,97338583,48598254,48740329,...,7.741443e+10,9.913030e+10,1.060147e+11,1.159317e+11,1.355394e+11,1.558200e+11,1.712220e+11,1.862047e+11,1.932411e+11,2.052762e+11
136,ZM,None,None,ZM,Zambia,ZM,ZMB,18383956,9103006,9280950,...,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.106399e+10